@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in {
    opacity: 0;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.slide-in.left {
    transform: translateX(-100%);
}

.slide-in.right {
    transform: translateX(100%);
}

.slide-in.show {
    opacity: 1;
    transform: translateX(0);
}